.search-list-wrapper {
    .mdl-list { 
        width: 80%;
        margin: 20px auto;
        text-align: left;
        .sub-content {
            display: inline-block;
            margin-left: 30px;
        }
    }
    .mdl-button--raised.mdl-button--colored.view-records-option {
        margin: 50px auto 50px auto;
        display: block;
    }
    
    .mdl-textfield--expandable.search-field {
        display: block;
    }
    .mdl-list__item {
        border: 1px solid;
        box-shadow: 1px 0px 10px 0px #85a2f3
    }

    .mdl-list__item--three-line,
    li.mdl-list__item.mdl-list__item--three-line > * {
        width: 100%;
        height: auto;
    }
}