.mdl-layout__content {
    padding-top: 40px;
    .home-wrapper {
         > div {
            min-width: 200px;
            padding-bottom: 30px;
            label { font-size: 18px; }
        }   
    }
}

.indicators {
    padding-top: 30px;
    h4 {
        text-align: left;
        margin-left: 16px;
    }
    .indicator-box {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        display: inline-block;
    }
    .open-box {
        background-color: #6d7cab;
    }
    .high-box {
        background-color: #7cc9a2;
    }
    .low-box {
        background-color: #d18076;
    }
    .close-box {
        background-color: #61999e;
    }
}
